body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1658px;
}
#u258 {
  position:absolute;
  left:0px;
  top:6px;
  width:775px;
  height:1658px;
}
#u259 {
  position:absolute;
  left:2px;
  top:821px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
