body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u387 {
  position:absolute;
  left:7px;
  top:8px;
  width:720px;
  height:1280px;
}
#u388 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u389 {
  position:absolute;
  left:41px;
  top:667px;
  width:281px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u391 {
  position:absolute;
  left:41px;
  top:1066px;
  width:281px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u393 {
  position:absolute;
  left:41px;
  top:266px;
  width:281px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u395 {
  position:absolute;
  left:218px;
  top:141px;
  width:126px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u396 {
  position:absolute;
  left:49px;
  top:387px;
  width:537px;
  height:223px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u397 {
  position:absolute;
  left:7px;
  top:8px;
  width:756px;
  height:1280px;
  overflow:hidden;
  visibility:hidden;
}
#u397_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:1280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u397_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u398 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u399 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u400 {
  position:absolute;
  left:26px;
  top:495px;
  width:172px;
  height:54px;
  font-size:28px;
  color:#FF0000;
}
#u401 {
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u402 {
  position:absolute;
  left:21px;
  top:897px;
  width:186px;
  height:54px;
  font-size:28px;
  color:#FF0000;
}
#u403 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u404 {
  position:absolute;
  left:26px;
  top:259px;
  width:596px;
  height:226px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u405 {
  position:absolute;
  left:26px;
  top:124px;
  width:134px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u397_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u397_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u397_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u397_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
