body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:728px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u461 {
  position:absolute;
  left:8px;
  top:9px;
  width:720px;
  height:1280px;
}
#u462 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463 {
  position:absolute;
  left:394px;
  top:1196px;
  width:283px;
  height:107px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
